.login_caixa {
  background-color: #fff; 
  border-radius: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  padding: 30px;
  width: 450px;
  height: 550px;
  margin: 0 auto; 
  position: absolute; 
  top:70%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

#login {
  text-align: center;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 15px;
}

.login-titulo {
  font-size: 45px;
}

.botoes{
  width: 100%;
  position: relative;
  margin: 5px;
  background-color: #faf7f7;
  border-radius: 40px;
  height: 45px;
  width: 300px;
  padding-right: 120px;
}

.botoes a{
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  
  padding-top: 15px;
  padding-bottom: 10px;
  padding-right: 50px;
  align-items: right ;
  border: none;
    border-radius: 10px;
    padding: 4px;
    outline: none;
    background-color: #F5F5F5;
    height: 35px;
    font-size: 25px;
    margin-top: 5px;
}

.botoes a:focus{
  border: solid 1px #f3eeee;
}

.botoes i{
  position: absolute;
  top: 10px;
  left: 10px;
  color: aqua;
}
.icon-button{
  height: 100%;
  width: 15px;
}

body{
  background-image: url('../img/fundodasflores.png');
  font-family: 'Josefin Sans', sans-serif;
  }
 
  .texto_escolha{
    font-size: 20px;
    position: absolute;
    text-align: center;
    float: right;
    color: #121212;
    padding-left: 150px;
    margin: 8px;
    
    
    
}
